<!--suppress JSUnresolvedVariable, JSUnusedLocalSymbols -->
<template>
    <b-container fluid>

        <div class="d-flex justify-content-end mb-4">
            <b-button :href="route_name + `/create`" variant="outline-success">
                {{ $t('common.create') }}
            </b-button>
            <b-button v-if="create2_label" :href="create2_action" class="ml-2 btn-info">
                {{ create2_label }}
            </b-button>
        </div>

        <b-alert variant="danger"
                 dismissible
                 fade
                 :show="showDeleteFailedAlert"
                 @dismissed="showDeleteFailedAlert=false">
            {{ $t('common.sorry_unable_delete') }}
        </b-alert>

        <b-alert :show="dismissCountDown"
                 dismissible
                 variant="success"
                 @dismissed="dismissCountDown=0"
                 @dismiss-count-down="countDownChanged">
            <p>{{ $t('common.deleted_successfully') }}</p>
        </b-alert>

        <b-table responsive
                 striped
                 hover
                 id="basic-table"
                 :items="items"
                 :fields="fields"
                 :showDeleteFailedAlert="showDeleteFailedAlert"
                 :dismissCountDown="dismissCountDown"
        >

            <b-link slot="link" slot-scope="data" target="_blank" :href="data.value" v-if="data.value">{{ $t('common.link') }}</b-link>

            <b-button slot="button" slot-scope="row" :href="button_action.replace(':item_id', row.item.id)">
                {{ button_label }}
            </b-button>

            <b-button slot="button2" slot-scope="row" :href="button_action2.replace(':item_id', row.item.id)">
                {{ button_label2 }}
            </b-button>

            <template slot="actions" slot-scope="row">

                <b-button :href="route_name + `/${row.item.id}/edit`" variant="primary">
                    {{ $t('common.edit') }}
                </b-button>

                <b-button size="sm" @click.stop="confirm(row.item.id, $event.target)" variant="danger" class="mr-1">
                    {{ $t('common.delete') }}
                </b-button>

                <b-modal :id="`confirmModal` + row.item.id" :title="$t('common.are_you_sure')" @ok="handleOk" :cancel-title="$t('common.cancel')">
                    <pre v-if="row.item.short_name">{{ $t('common.are_you_sure_delete') }} {{ row.item.short_name }}?</pre>
                    <pre v-if="row.item.name">{{ $t('common.are_you_sure_delete') }} {{ row.item.name }}?</pre>
                    <pre v-if="row.item.period">{{ $t('common.are_you_sure_delete') }} {{ row.item.currency.iso + ' ' + row.item.period }}?</pre>
                    <pre v-if="row.item.end_date">{{ $t('common.are_you_sure_delete') }} {{ new Date(row.item.start_date).toLocaleDateString() + ' - ' + new Date(row.item.end_date).toLocaleDateString() }}?</pre>
                    <pre v-if="row.item.deposit_date">{{ $t('common.are_you_sure_delete') }} {{ new Date(row.item.deposit_date).toLocaleDateString() }}?</pre>
                    <pre v-if="row.item.withdrawal_date">{{ $t('common.are_you_sure_delete') }} {{ new Date(row.item.withdrawal_date).toLocaleDateString() }}?</pre>
                    <pre v-if="row.item.inform_date">{{ $t('common.are_you_sure_delete') }} {{ new Date(row.item.inform_date).toLocaleDateString() }}?</pre>
                </b-modal>

            </template>
        </b-table>

    </b-container>
</template>

<!--suppress JSUnusedGlobalSymbols -->
<script>

    export default {
        name: "table-basic",
        data () {
            return {
                showDeleteFailedAlert: false,
                dismissCountDown: 0,
            }
        },
        props:[
            'items',
            'fields',
            'route_name',
            'create2_label',
            'create2_action',
            'button_label',
            'button_action',
            'button_label2',
            'button_action2'
        ],
        methods: {
            confirm (id, button) {
                this.$root.$emit('bv::show::modal', 'confirmModal' + id, button);
            },
            handleOk(evt) {
                let id = evt.target.getAttribute('id').substr('confirmModal'.length);
                let deleteUrl = this.route_name + '/' + id;

                this.$http.delete(deleteUrl, {headers: {'X-CSRF-TOKEN': document.head.querySelector('meta[name="csrf-token"]').content}})
                    .then(
                        response => {
                            if (response.status !== 200) {
                                this.showDeleteFailedAlert = true;
                            } else {
                                this.showDeleteSuccessAlert();
                                this.items = this.items.filter(function(el) {// noinspection EqualityComparisonWithCoercionJS
                                    return el.id != parseInt(id);});
                            }

                        },
                        response => {
                            this.showDeleteFailedAlert = true;
                        }
                    );
            },
            countDownChanged (dismissCountDown) {
                this.dismissCountDown = dismissCountDown;
            },
            showDeleteSuccessAlert () {
                this.dismissCountDown = 10;
            }
        }
    }
</script>