
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.manual-validation.is-invalid ~ .invalid-feedback {
    display: block;
}

td.max-rate {
    font-size: 1.0rem;
    font-weight: bold;
}